body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1c1e21;
    display: flex;
    flex-direction: column;
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-wrapper{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
}

.nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.nav ul li{
    padding: 0 20px;
    margin: 18px 0;
}

.nav ul li a{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.nav ul li button{
    background: none;
    border: none;
    padding: 0;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    display: flex;
    gap: 3px;
}

.nav-right a{
    text-decoration: none;
    color: inherit;
}

.nav-right-1{
    padding: 0 20px;
}

.nav-right-2{
    margin-left: 12px;
    background-color: #25d366;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    line-height: 16px;
    padding: 16px 28px;
}

.nav-right-span svg {
    padding-left: 13px;
}

.extension-area{
    background-color: #fff; 
    padding: 16px 28px 22px 28px; 
    left:0px;
    display: none;
}

.nav-bar-extended{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    justify-content: center;
    list-style-type: none;
}

.nav-bar-extended li .nav-card{
    width: 203px;
    height: 179px;
    padding: 24px 24px 37px 24px;
    border: 1px solid rgba(17, 27, 33, .2);
    border-radius: 25px;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-bottom: 24px;
    background-color: #25d366;
}

.nav-icon svg {
    color: #fff;
    fill: #fff;
    top: 50%;

}

.nav-card h5{
    margin: 0;
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 1;
    font-weight: 400;
}

.nav-card p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    margin: 1em 0;
}

main{
    display: block;
    margin-top: 82px;
}

.nav-sm{
    display: none;
}

.mobile-nav{
    display: none;
}

.main-container{ 
    background-color: #E6FFDA;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-top{
    margin: 88px auto 33px auto;
    max-width: 1080px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-top-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-top-heading h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    margin: 0;
    padding-bottom: 32px;
}

.main-top-heading-text{
    width: 41.6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-top-heading-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.main-top-heading-text-link p {
    font-size: 12px;
    font-weight: 400;
    margin: 16px 0;
}

.main-top-heading-text-link a{
    color: #1c1e21;
}

.cards-wrapper{
    margin-top: 56px;
    margin-bottom: 35px;
    max-width: 1080px;
    display: flex;
    justify-content: center;
}

.cards-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 24px;
    column-gap: 24px;
    width: 77%;
}

.OS-card{
    width: 208px;
    height: 288px;
    padding: 26px 22px 58px;
    border-radius: 25px;
    background-color: #111b21;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-description, .card-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-heading{
    padding-bottom: 24px;
}

.card-heading h6, h3{
    margin: 0;
}

.card-heading h6{
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.34;
}

.card-heading h3{
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 1;
    font-weight: 400;
}

.card-description p {
    line-height: 16px;
    letter-spacing: -0.01em;
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}

.OS-logo{
    display: flex;
    justify-content: center;
}

.download-logo{
    background-color: #fff;
    color: #1c1e21;
    height: 48px;
    min-width: 201px;
    border: 1px solid #1c1e21;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 15px;
}

.android-card img {
    width: 197px;
    height: auto;
}

.ios-card img{
    width: 154px;
    height: auto;
}

.OS-card:hover, .OS-card:hover .card-description p {
    background-color: #43cd66;
    color: #111b21;
    font-weight: 400;
}

.main-footer{
    display: flex;
    flex-direction: row;
    justify-content: center ;
}

.main-footer p, .main-footer a{
    text-align: center;
    color: #1c1e21;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.slideshow-wrapper{
    width: auto;
    display: flex;
    justify-content: end;
    background-color: #111b21;
}

.main-bottom{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 96px 24px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 20%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.main-bottom p, .main-bottom a {
    text-align: center;
    color: #1c1e21;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.slideshow-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 35%;
}

.slideshow-side h2{
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 400;
    margin: 0;
}

.slideshow-side p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: start;
}

.slideshow-btn{
    display: flex;
    gap: 1em;
}

.slideshow-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid #1c1e21;
    background-color: inherit;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    cursor: pointer;;
}

.slideshow-btn button svg{
    height: 13px;
    width: 13px;
}

.slideshow-carrousel{
    width: 65%;
    display: flex;
    gap: 16px;
}

.slideshow-card img{
    border-radius: 25px;
}

.slideshow-card-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    padding: 32px 0;
}

.slideshow-card-text a{
    text-align: start;
}

.slideshow-card-text h3{
    font-size: 32px;
    letter-spacing: -0.03em;
    line-height: 1;
    font-weight: 400;
    color: #1c1e21;
}

.slideshow-card-text a{
    text-decoration: none;
}

.details-link{
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 16px;
    font-size: 16px;
    border-bottom: 2px solid #25d366;
}

.details-link:hover{
    color: #25d366;
}

/* Footer section */

footer{
    background-color: #111b21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-list{
    display: flex;
    color: #fff;
    width: 60%;
    justify-content: space-between;
    padding: 96px 0 88px 0;
    border-bottom: 1px solid #33463f;
}

.link-list-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-group{
    display: flex;
    flex-direction: column;
}

.link-group span{
    padding-bottom: 32px;
}

.link-group a{
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 16px;
}

.link-group a:last-child{
    margin-bottom: 0;
}

.footer-bottom{
    width: 100%;
    background-color: #111b21;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1
}

.footer-social{
    background-color: #111b21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    height: auto;
    border-bottom: 1px solid #33463f;
    color: #1c1e21;
}

.footer-download{
    width: 100%;
    margin: 56px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

.download-link{
    padding: 0 12px 0 24px;
    background-color: #43cd66;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 148px;
    font-size: 16px;
    height: 48px;
    line-height: 16px;
    font-weight: 400;
    color: #111b21;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #43cd66;
}

.footer-social-icons-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-social-icons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
    width: 100%;
    color: #1c1e21;
}

.footer-social-icons a{
    background-color: #1c1e21;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-social-icons{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 24px;
}

#footer-social-icons a {
    background-color: #1c1e21;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-footer{
    width: 60%;
    background-color: #111b21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    color: #fff;
}

.footer-footer p, a{
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-footer .select-md{
    background: none;
    background-color: #111b21;
    border-radius: 50px;
    border: 2px solid #fff;
    font-size: 16px;
    padding: 16px 28px;
    font-weight: bold;
    color: inherit;
    appearance: none;
    cursor: pointer;
}

.footer-footer .svg-footer {
    color: #fff;
    position: absolute;
    right: 21.5%;
    margin-top: 22px;
}


.select-sm{
    display: none;
    width: 0;
    height: 0;
}

.footer-footer-left{
    display: flex;
    gap: 80px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#footer-social a svg{
    position: relative;
}

#show-not{
    display: none;
}

.tablet-view{
    display: none;
}

#show-mobile{
    display: none;
}


@media screen and (max-width: 1200px) {
    main{
        margin: 0px;
    }

    .nav{
        display: none;
    }
    .nav-sm{
        display: flex;
        height: 64px;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
    }

    .nav-sm button{
        background-color: inherit;
        border: none;
        cursor: pointer;;
    }

    .nav-sm a{
        background-color: #25d366;
        color: #1c1e21;
        font-weight: 400;
        border: 1px solid #1c1e21;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body{
        height: 100%;
    }
    .mobile-nav{
        position:fixed ;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: #fff;
        transition: all 0.5s;
    }

    header{
        height: 64px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(17, 27, 33, .4);
    }

    .mobile-hamburger-wrapper{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .mobile-nav-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
    }

    .mobile-nav-top button{
        background-color: inherit;
        border: none;
        cursor: pointer;
    }

    .mobile-nav-top a {
        color: #25d366;
    }

    .mobile-nav-list{
        position: relative;
        z-index: 100;
    }

    .mobile-nav-list ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .mobile-nav-list a, button{
        padding-left: 24px;
        text-decoration: none;
        color: #1c1e21;
        font-size: 32px;
        line-height: 1em;
        font-weight: 400;
    }

    .mobile-nav-list button{
        background-color: inherit;
        border: none;
        cursor: pointer;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .mobile-nav-list button svg {
        padding-right: 24px;
    }

    .mobile-nav-list li {
        padding: 20px 0;
        border-bottom:1px solid rgba(17, 27, 33, .2)
    }

    .mobile-nav-social{
        background-color: #111b21;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #33463f;
        align-items: center;
        color: #1c1e21;
    }

    .mobile-nav-download{
        width: 100%;
        padding-left: 24px;
        margin: 56px 0;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .download-link{
        padding: 0 12px 0 24px;
        background-color: #43cd66;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        width: 148px;
        font-size: 16px;
        height: 48px;
        line-height: 16px;
        font-weight: 400;
        color: inherit;
        text-decoration: none;
        border-radius: 50px;
        border: 1px solid #43cd66;
    }

    .social-icons-wrapper, .footer-social-icons-wrapper{
        width: 100%;
    }

    .mobile-nav-social-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 16px 0;
        width: 100%;
        color: #1c1e21;
    }

    .mobile-nav-social-icons a{
        background-color: #1c1e21;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav-bottom{
        background-color: #111b21;
        display: flex;
        flex-direction: column;
        flex:1
    }

    .mobile-nav-footer{
        background-color: #111b21;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        color: #fff;
    }

    .mobile-nav-footer p, a{
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        color: inherit;
    }

    .mobile-nav-footer .select-md{
        background: none;
        background-color: #111b21;
        border-radius: 50px;
        border: 2px solid #fff;
        font-size: 16px;
        padding: 16px 28px;
        font-weight: bold;
        color: inherit;
        appearance: none;
        cursor: pointer;
    }

    .mobile-nav-footer svg {
        color: #fff;
        position: absolute;
        right: 50px;
        margin-top: 22px;
    }


    .select-sm{
        display: none;
        width: 0;
        height: 0;
    }

    .mobile-nav-footer-left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20%;
        width: 100%;
    }

    .features-submenu ul li a {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .features-submenu ul li{
        border-bottom: none;
    }

    .nav-icon{
        margin: 0;
    }

    .features-submenu ul li a h6{
        margin: 0;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 22px;
        font-weight: 400;
        padding: 0;
    }

    .features-text{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .features-list{
        max-height: 500px;
        transition: all 1s;
        overflow: hidden;
    }

    .features-list li {
        padding: 5px 0;
    }
    
    .features-submenu{
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    
    .is-off-display{
        display: none;
    }

    .is-off-height{
        max-height: 0;
        transition: all 1s;
    }

    .cards-group{
        justify-content: center;
    }

    .OS-card{
        width: 208px;
        height: 232px;
    }

    .main-top-heading h1{
        font-size: 40px;
        line-height: 1;
        color: #1c1e21;
    }

    .main-top-heading-text{
        width: 50%;
    }

    .main-top-heading-text p {
        font-size: 15px;
        line-height: 22px;
    }

    .main-top-heading-text-link p{
        font-size: 12px;
        line-height: 17px;
    }

    .main-top-heading-text-link a{
        text-decoration: underline;
    }

    .main-bottom{
        flex-direction: column;
        padding-left: 2em;
    }

    .slideshow-side{
        width: auto;
    }

    .slideshow-side h2{
        font-size: 40px;
    }

    .slideshow-side p{
        font-size: 16px;
    }

    .tablet-view{
        display: block;
        margin-left: 3%;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .tablet-view img{
        width: 125px;
    }

    .link-list{
        width: 82%;
        margin-left: 3%;
        border: none;
        padding: 0;
    }

    .link-list-logo{
        display: none;
   }

   .link-group span{
        font-size: 12px;
        font-weight: 300;
   }

    .link-group a {
        font-weight: 350;
    }

    .tablet-view-slideshow-btn{
        margin-top: 60px;
    }

    .tablet-view-gone{
        display: none;
    }

    footer{
        background-color: #111b21;
        align-items: flex-start;
    }
    
    .footer-bottom{
        width: 100%;
        background-color: #111b21;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex:1
    }
    
    .footer-social{
        background-color: #111b21;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        height: auto;
        border-bottom: 1px solid #33463f;
        color: #1c1e21;
    }
    
    .footer-download{
        width: 100%;
        margin: 56px 0;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .download-link{
        padding: 0 12px 0 24px;
        background-color: #43cd66;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        width: 148px;
        font-size: 16px;
        height: 48px;
        line-height: 16px;
        font-weight: 400;
        color: inherit;
        text-decoration: none;
        border-radius: 50px;
        border: 1px solid #43cd66;
    }
    
    .footer-social-icons-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .footer-social-icons{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 24px;
        padding: 16px 0;
        width: 100%;
        color: #1c1e21;
    }
    
    .footer-social-icons a{
        background-color: #1c1e21;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer-footer{
        width: 95%;
        background-color: #111b21;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;
        color: #fff;
    }
    
    .footer-footer p, a{
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-footer .select-md{
        background: none;
        background-color: #111b21;
        border-radius: 50px;
        border: 2px solid #fff;
        font-size: 16px;
        padding: 16px 28px;
        font-weight: bold;
        color: inherit;
        appearance: none;
        cursor: pointer;
    }
    
    .footer-footer svg {
        color: #fff;
        position: absolute;
        right: 6%;
        margin-top: 22px;
    }
    
    
    .select-sm{
        display: none;
        width: 0;
        height: 0;
    }
    
    .footer-footer-left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20%;
        width: 100%;
    }

    .footer-footer .svg-footer{
        right: 6%;
    }

    #show-not{
        display: flex;
    }

    #footer-social-icons{
        display: none;
    }
}

@media screen and (max-width: 765px) {
    .nav{
        display: none;
    }

    .mobile-nav{
        top: 0;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .features-submenu{
        justify-content: start;
        padding: 5px;
    }

    .mobile-nav-social{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mobile-nav-download{
        padding: 0;
        justify-content: center;
    }

    .download-link{
        width: 313px;
        padding: 0;
        justify-content: center;
    }

    .download-link svg{
        padding: 13px;
    }

    .mobile-nav-social-icons{
        border-top: 1px solid #33463f;
    }

    .select-md{
        display: none;
        width: 0;
        height: 0;
    }

    .select-sm{
        display: block;
        width: auto;
        height: auto;
        background: none;
        background-color: #111b21;
        border-radius: 50px;
        border: 2px solid #fff;
        font-size: 16px;
        padding: 16px 28px;
        font-weight: bold;
        color: inherit;
        appearance: none;
        cursor: pointer;
    }

    .mobile-nav-footer{
        flex-direction: row;

    }

    .mobile-nav-footer-left{
        display: flex;
        flex-direction: column-reverse;
    }

    .mobile-nav-footer svg{
        margin-top: -30px;
    }

    .main-top{
        margin-top: 56px;
    }

    .main-top-heading{
        flex-direction: column;
    }

    .main-top-heading h1{
        padding-bottom: 16px;
        font-size: 32px;
        line-height: 1;
    }
    
    .main-top-heading-text{
        width: 100%;
    }

    .cards-wrapper{
        margin-top: 40px;
    }

    .OS-card{
        padding: 32px;
    }

    .card-heading h6{
        font-size: 12px;
    }

    .card-heading h3{
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
    }

    .slideshow-card img{
        width: 198px;
    }

    .slideshow-card-text{
        margin-top: 15px;
        padding: 0;
    }

    .slideshow-card-text h3{
        font-size: 22px;
        font-weight: 350;
   }

   .tablet-view{
    margin-left: 7%;
    padding: 35px 0;
   }

    .link-list{
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 7%;
        margin-bottom: 3%;
    }

    .link-group{
        width: 35%;
        margin-bottom: 20px;
    }

    .link-group span{
        padding-bottom: 20px;
    }

    .footer-social{
        flex-direction: column;
        width: 100%;
    }

    .download-link{
        width: 272px;
    }

    .footer-download{
        justify-content: center;
        margin: 32px 0;
    }

    .footer-social-icons{
        justify-content: center;
        border-top: 1px solid #33463f;
    }

    .footer-footer{
        width: 86%;
        padding: 24px;
        border-top: 1px solid #33463f;
    }

    .footer-footer-left{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 3px;
        padding: 0;
    }

    .footer-footer-left p{
        margin: 0;
        font-weight: 300;
    }

    .footer-footer-left a{
        font-weight: 300;
    }

    .footer-footer .svg-footer{
        margin-top: -29px;
        right: 14%;
    }

    #show-not{
        display: none;
    }

    #show-mobile{
        display: block;
    }
}